@import "utils";
@import "entity-list";
@import "text-ui";
@import "actions";

#App {
  width: 100%;
}

.player-ui {
  margin: 1rem auto;
  height: ~"calc(100vh - 2rem)";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  grid-template-rows: minmax(10rem, auto);

  & > * {
    outline: .125rem solid rgba(123, 15, 201, 0.45);
    min-height: 10rem;
  }
}
