#App {
  width: 100%;
}

.player-ui {
  margin: 1rem auto;
  height: ~"calc(100vh - 2rem)";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  grid-template-rows: minmax(6rem, auto);

  .entity-list,
  .text-ui,
  .actions {
    outline: .125rem solid blue;
  }

  .entity-list {
    .grid-rows(1, 4);
    .grid-cols(1, 3);
  }

  .text-ui {
    .grid-cols(3, -1);
    .grid-rows(1, 4);
  }

  .actions {
    .grid-cols(1, -1);
    .grid-rows(4, 5);
  }
}

.grid-rows(@start, @end) {
  grid-row-start: @start;
  grid-row-end: @end;
}

.grid-cols(@start, @end) {
  grid-column-start: @start;
  grid-column-end: @end;
}
